$sales-item-image--size: 56px;

.sales {
  display: none;

  .tiles-wrap {

    &[class*=illustration-section-]::after {
      z-index: -1;
    }
  }

  .tiles-item-inner {
    padding-top: $sales-item-image--size / 2 + 20px;
    background: get-color(light, 1);
  }

  .tiles-item {
    max-width: 250px;
    flex-basis: 250px;
    -ms-flex-preferred-size: 250px;
    position: relative;
    padding-top: $tiles-items--padding__mobile / 2 + $sales-item-image--size / 2;
    @if ( $sales-items--padding__mobile != null ) {
      padding-top: $sales-items--padding__mobile / 2 + $sales-item-image--size / 2;
    }
  }

  .sales-item-image {
    position: absolute;
    top: $tiles-items--padding__mobile / 2;
    @if ( $sales-items--padding__mobile != null ) {
      top: $sales-items--padding__mobile / 2;
    }

    img {
      width: $sales-item-image--size;
      height: $sales-item-image--size;
      border-radius: 50%;
      box-shadow: 0 16px 24px rgba(get-color(dark, 1), .24);
    }
  }
}

@if ( $sales-items--padding__desktop != null or $tiles-items--padding__desktop !=null ) {

  @include media( '>medium' ) {

    .sales {

      .tiles-item {
        @if ( $tiles-items--padding__desktop != null ) {
          padding-top: $tiles-items--padding__desktop / 2 + $sales-item-image--size / 2;
        }
        @if ( $sales-items--padding__desktop != null ) {
          padding-top: $sales-items--padding__desktop / 2 + $sales-item-image--size / 2;
        }
      }

      .sales-item-image {
        @if ( $tiles-items--padding__desktop != null ) {
          top: $tiles-items--padding__desktop / 2;
        }
        @if ( $sales-items--padding__desktop != null ) {
          top: $sales-items--padding__desktop / 2;
        }
      }
    }
  }
}
