// Colors

// The color palette
$palette: (
	light: (
		1: #FFFFFF,
		2: #F8FBFF,
		3: #D3DDEC
	),
	dark: (
		1: #182334,
		2: #455C80,
		3: #768DB2
	),
	primary: (
		1: #F3AA43,
		2: #dd9c3c,
		3: #81E6F4,
		4: #22BFA8
 	),
	secondary: (
		1: #BF9E22,
		2: #F3AA43,
		3: #81E6F4,
		4: #22BFA8
	),
	alert: (
		error: #FF7272,
		warning: #FFB572,
		success: #43DEB5
	)
);

// Base typography: color
$color: (
	heading:				get-color(dark, 1),
	base: 					get-color(dark, 2),
	high-contrast: 			get-color(dark, 1),
	mid-contrast: 			get-color(dark, 2),
	low-contrast: 			get-color(dark, 3),
	primary:				get-color(primary, 1),
	secondary:				get-color(secondary, 1),
	error:					get-color(alert, error),
	warning:				get-color(alert, warning),
	success:				get-color(alert, success),
	// ↓ Inverted colors
	heading-inverse:		get-color(light, 1),
	base-inverse:			get-color(dark, 3),
	high-contrast-inverse: 	get-color(light, 1),
	mid-contrast-inverse: 	get-color(light, 2),
	low-contrast-inverse: 	get-color(light, 3)
);

// Borders and dividers: color
$border--color: (
	divider:			get-color(light, 3),
	divider-inverse:	get-color(dark, 2)
);

// Icons: fill color
$icon--color: (
	hamburger:				get-color(dark, 1),			// hamburger icon
	accordion:				get-color(primary, 1),		// accordion icon
	social: 				get-color(primary, 2),		// social icons
	social-hover: 			get-color(primary, 1),		// social icons (:hover)
	modal:					get-color(light, 3),		// modal icon
	modal-hover:			get-color(dark, 3),			// modal icon (:hover)
	// ↓ Inverted colors
	hamburger-inverse:		get-color(light, 1),		// hamburger icon
	accordion-inverse:		get-color(light, 1),		// accordion icon
	social-inverse: 		get-color(light, 1),		// social icons
	social-hover-inverse: 	get-color(light, 1)			// social icons (:hover)
);

// Misc elements: background color
$bg--color: (
	body: 			get-color(light, 1),
	body-shadow:	0 20px 48px rgba(get-color(dark, 1), .1),	// body shadow when a boxed layout is used (set to null if don't want a shadow)
	body-outer:		get-color(light, 2),						// outer bg color when a boxed layout is used
	bg-color: 		get-color(dark, 1),							// .has-bg-color helper class
	shadow: 		0 32px 64px rgba(get-color(dark, 1), .24),	// .has-shadow helper class
	code: 			get-color(light, 2),
	code-inverse:	darken(get-color(dark, 1), 3%)
);
